/******* Bootstrap Theming ********/

$primary: #FCE77F;
$secondary: #62C3E7;
$light: #FFFFFF;
$dark: #333333;

$font-family-sans-serif: 'Poppins', sans-serif;

$body-bg: #F3F6FF;

$body-color: #555555;

$headings-color: $dark;

$enable-responsive-font-sizes: true;

$border-radius: 5px;

@import "bootstrap/scss/bootstrap";


/********** Custom CSS ************/
h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn {
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 100px;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: $light;
}

.form-control {
    border-radius: 30px;
}

.btn-social {
    width: 45px;
    height: 45px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-radius:45px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
}

.nav-bar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: $primary;
}

.navbar-light .navbar-nav .nav-link {
    padding: 30px 15px;
    color: $dark;
    font-size: 17px;
    font-weight: 500;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: $primary;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        border-radius: 60px;
    }

    #header-carousel,
    .page-header {
        margin-top: -45px;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header.jpg), no-repeat center center;
    background-size: cover;
}

.section-title::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 100px;
    height: 5px;
    background: $primary;
}

.section-title::after {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    width: 100px;
    height: 1px;
    background: $secondary;
}

.section-title.text-center::before,
.section-title.text-center::after {
    left: calc(50% - 50px);
}

.btn-play {
    position: relative;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: $light;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: $light;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: $light;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -5px;
    border-left: 25px solid $primary;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: $light;
    background: #000000;
    opacity: 1;
}

.owl-carousel .owl-nav {
    position: absolute;
    width: 135px;
    height: 60px;
    top: -110px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    background: $light;
    border-radius: 60px;
    font-size: 30px;
}

.service-item .service-img {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    z-index: 1;
}

.service-item .service-img::before {
    position: absolute;
    content: "";
    top: 15px;
    right: 0;
    bottom: -15px;
    left: 0;
    background: $primary;
    border-radius: 150px;
    z-index: -1;
}

.service-item .service-img img {
    transition: 1s;
}

.service-item:hover .service-img img {
    transform: rotate(360deg);
}

.product-item,
.product-item h5 {
    transition: .5s;
}

.product-item:hover {
    background: $secondary !important;
}

.product-item:hover h5 {
    color: $light !important;
}

.product-item:hover .btn {
    background: $primary !important;
}

.portfolio-item::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid $light;
    z-index: 1;
}

.portfolio-item .portfolio-btn {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light;
    text-decoration: none;
    opacity: 0;
    transition: .5s;
    z-index: 2;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
}

.team-item .team-img {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid $primary;
    border-radius: 200px;
    overflow: hidden;
    z-index: 1;
}

.team-item .team-img::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 2px solid $primary;
    border-radius: 200px;
    transition: .5s;
    z-index: 2;
}

.team-item:hover .team-img::after {
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
}

.team-item .team-img img {
    transition: .5s;
}

.team-item:hover .team-img img {
    transform: scale(1.2);
}

.team .team-social {
    position: absolute;
    width: 75px;
    top: 0;
    bottom: 0;
    left: -75px;
    z-index: 1;
    transition: .5s;
}

.team:hover .team-social {
    left: 0;
}

.testimonial-carousel .owl-item img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.testimonial-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: $primary;
}

.testimonial-carousel .owl-dot::after {
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border: 2px solid $primary;
    border-radius: 20px;
}

.testimonial-carousel .owl-dot.active {
    background: $secondary;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 575.98px) {
    .footer .border-right {
        border-right: none !important;
    }
}